@using Ombi.UI.Helpers
@Html.LoadSettingsAssets()
<div class="col-lg-3 col-md-3 col-sm-4">
    <div class="list-group table-of-contents">
        @Html.GetSidebarUrl(Context, "/admin/about", "About", "glyphicon glyphicon-info-sign")
        @Html.GetSidebarUrl(Context, "/admin", "Ombi Configuration", "glyphicon glyphicon-ok-sign")
        @Html.GetSidebarUrl(Context, "/admin/customization", "Customization", "glyphicon glyphicon-tasks")
        @Html.GetSidebarUrl(Context, "/admin/landingpage", "Landing Page", "glyphicon glyphicon-dashboard")
        @Html.GetSidebarUrl(Context, "/admin/authentication", "Authentication", "glyphicon glyphicon-lock")
        @Html.GetSidebarUrl(Context, "/admin/usermanagementsettings", "User Management Settings", "glyphicon glyphicon-user")
        @Html.GetSidebarUrl(Context, "/admin/plex", "Plex", "glyphicon glyphicon-play-circle")
        @Html.GetSidebarUrl(Context, "/admin/couchpotato", "CouchPotato", "glyphicon glyphicon-film")
        @Html.GetSidebarUrl(Context, "/admin/watcher", "Watcher (beta)", "glyphicon glyphicon-film")
        @Html.GetSidebarUrl(Context, "/admin/radarr", "Radarr (beta)", "glyphicon glyphicon-film")
        @Html.GetSidebarUrl(Context, "/admin/sonarr", "Sonarr", "fa fa-tv")
        @Html.GetSidebarUrl(Context, "/admin/sickrage", "SickRage", "fa fa-tv")
        @Html.GetSidebarUrl(Context, "/admin/headphones", "Headphones (beta)", "glyphicon glyphicon-headphones")
        @Html.GetSidebarUrl(Context, "/admin/newsletter", "Newsletter Settings", "fa fa-newspaper-o")
        <div id="sidebar" >

            <a href="#notifications" class="list-group-item" data-parent="#sidebar">
                Notifications <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-envelope"></span>
            </a>

            <div id="notifications" class="list-group subitem collapse">


                @Html.GetSidebarUrl(Context, "/admin/emailnotification", "Email Notifications")


                @Html.GetSidebarUrl(Context, "/admin/pushbulletnotification", "Pushbullet Notifications","fa fa-bell-o")
                @Html.GetSidebarUrl(Context, "/admin/pushovernotification", "Pushover Notifications", "fa fa-bell-o")
                @Html.GetSidebarUrl(Context, "/admin/slacknotification", "Slack Notifications", "fa fa-slack")
                @Html.GetSidebarUrl(Context, "/admin/discordnotification", "Discord Notifications", "fa fa-bell-o")

            </div>
        </div>


        @Html.GetSidebarUrl(Context, "/admin/logs", "Logs", "fa fa-edit")
        @Html.GetSidebarUrl(Context, "/admin/status", "Status", "fa fa-dashboard")
        @Html.GetSidebarUrl(Context, "/admin/scheduledjobs", "Scheduled Jobs", "fa fa-hand-spock-o")
        @Html.GetSidebarUrl(Context, "/admin/faultqueue", "Request Fault Queue", "fa fa-history")
    </div>


</div>

<script>
    $('#sidebar > a').on('click', function (e) {
        e.preventDefault();

        if (!$(this).hasClass("active")) {
            var lastActive = $(this).closest("#sidebar").children(".active");
            lastActive.removeClass("active");
            lastActive.next('div').collapse('hide');
            $(this).addClass("active");
            $(this).next('div').collapse('show');

        }

    });
</script>