@using Ombi.UI.Helpers
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Ombi.Core.SettingModels.UserManagementSettings>
@Html.Partial("Shared/Partial/_Sidebar")

<div class="col-sm-8 col-sm-push-1">
    <form class="form-horizontal" method="POST" id="mainForm">
        <fieldset>
            <legend>User Management Settings</legend>

            <span>Here you can manage the default permissions and features that your users get</span>
            <small>
                Note: This will not update your users that are currently there, this is to set the default settings to any users added outside of Ombi e.g. You share your Server with a new user, they will be added into Ombi
                 automatically and will take the permissions and features you have selected below.
            </small>


            <h3>Permissions</h3>
            @Html.Checkbox(Model.RequestMovies, "RequestMovies", "Request Movies")
            @Html.Checkbox(Model.RequestTvShows, "RequestTvShows", "Request TV Shows")
            @Html.Checkbox(Model.RequestMusic, "RequestMusic", "Request Music")
            @Html.Checkbox(Model.AutoApproveMovies, "AutoApproveMovies", "Auto Approve Movie Requests")
            @Html.Checkbox(Model.AutoApproveTvShows, "AutoApproveTvShows", "Auto Approve TV Show Requests")
            @Html.Checkbox(Model.AutoApproveMusic, "AutoApproveMusic", "Auto Approve Music Requests")
            @Html.Checkbox(Model.ReportIssues, "ReportIssues", "Report Issues")
            @Html.Checkbox(Model.UsersCanViewOnlyOwnIssues, "UsersCanViewOnlyOwnIssues", "Users can only view their own issues")
            @Html.Checkbox(Model.UsersCanViewOnlyOwnRequests, "UsersCanViewOnlyOwnRequests", "Users can only view their own requests")
            @Html.Checkbox(Model.BypassRequestLimit, "BypassRequestLimit", "Bypass the request limit")
            @Html.Checkbox(Model.ViewUsers, "ViewUsers", "User can see who made requests")



            <h3>Features</h3>
            @Html.Checkbox(Model.RecentlyAddedNewsletter, "RecentlyAddedNewsletter", "Recently Added Newsletter")
            @Html.Checkbox(Model.RecentlyAddedNotification, "RecentlyAddedNotification", "Recently Added Notifications")

            <div>
            </div>
            <div class="form-group">
                <div>
                    <button type="submit" id="save" class="btn btn-primary-outline">Submit</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>

<script>
    $(function () {
        $('#save').click(function (e) {
            e.preventDefault();

            var $form = $("#mainForm");

            var data = $form.serialize();

            $.ajax({
                type: $form.prop("method"),
                data: data,
                url: $form.prop("action"),
                dataType: "json",
                success: function (response) {
                    if (response.result === true) {
                        generateNotify("Success!", "success");
                    } else {
                        generateNotify(response.message, "warning");
                    }
                },
                error: function (e) {
                    console.log(e);
                    generateNotify("Something went wrong!", "danger");
                }
            });
        });
    });
</script>