@using Ombi.UI.Resources
@{
    var nullableError = Context.ViewBag.TempMessage ?? string.Empty;
    var error = false;
    if (!string.IsNullOrEmpty(nullableError))
    {
        error = true;
    }
}
<div class="home">
    <h1>@UI.UserLogin_Title</h1>
    <div>
        <p>
            @UI.UserLogin_Paragraph <span title="@UI.UserLogin_Paragraph_SpanHover"><i class="fa fa-question-circle"></i></span>
        </p>
    </div>
    <form method="POST" id="loginForm">
        <input id="dateTimeOffset" name="DateTimeOffset" hidden="hidden" />
        <div>
            <div>
                <label>@UI.UserLogin_Username</label>
            </div>
            <div>
                <input id="username" class="form-control form-control-custom" type="text" name="Username" placeholder="@UI.UserLogin_Username_Placeholder" />
            </div>
        </div>
        <br />
        @if (Model.UsePassword)
        {
            <div>
                <div>
                    <label> @UI.UserLogin_Password </label>
                </div>
                <div>
                    <input id="password" class="form-control form-control-custom" name="Password" type="password" placeholder="@UI.UserLogin_Password" />
                </div>
            </div>
            <br />
        }

        <button id="loginBtn" class="btn btn-success-outline" type="submit"><i class="fa fa-user fa-fw"></i> @UI.UserLogin_SignIn</button>
    </form>
</div>

<script>
    $(function () {

        $('#dateTimeOffset').val(new Date().getTimezoneOffset());

        @if (error)
            {
                <text>

        generateNotify('@nullableError', "warning");

        </text>
            }
    });
</script>