@using Nancy.Security
@using Nancy.Session
@using PlexRequests.UI.Helpers
@using PlexRequests.UI.Models
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase
@{
    var baseUrl = Html.GetBaseUrl();
    var url = string.Empty;
    if (!string.IsNullOrEmpty(baseUrl.ToHtmlString()))
    {
        url = "/" + baseUrl.ToHtmlString();
    }
}
<html>
<div hidden="hidden" id="baseUrl">@baseUrl.ToHtmlString()</div>
<head>
    <title>Plex Requests</title>
    <!-- Styles -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    @Html.LoadAssets()
</head>
<body>


    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@url/search">Plex Requests</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    @Html.GetNavbarUrl(Context, "/search", "Search", "search")
                    @Html.GetNavbarUrl(Context, "/requests", "Requests", "plus-circle")
                </ul>
                <ul class="nav navbar-nav navbar-right">


                    @if (!Context.CurrentUser.IsAuthenticated())
                    {
                        <li><a href="@url/login"><i class="fa fa-user"></i> Admin</a></li>
                    }
                    else
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-user"></i> Admin <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="@url/admin"><i class="fa fa-cog"></i> Settings</a></li>
                                <li><a href="@url/changepassword"><i class="fa fa-key"></i> Change password</a></li>
                                <li class="divider"></li>
                                <li><a href="@url/logout"><i class="fa fa-sign-out"></i> Logout</a></li>
                            </ul>
                        </li>
                    }
                    @if (Context.Request.Session[SessionKeys.UsernameKey] != null)
                    {
                        <li><a href="@url/userlogin/logout"><i class="fa fa-sign-out"></i> Logout</a></li>
                    }
                </ul>
            </div>
        </div>
        <div id="updateAvailable" hidden="hidden"></div>
    </nav>

<div class="container">
    @RenderBody()
</div>
<div class="scroll-top-wrapper ">
    <span class="scroll-top-inner">
            <i class="fa fa-2x fa-arrow-circle-up"></i>
        </span>
</div>
</body>
</html>
<script>

    $(function () {

        var urlBase = '@Html.GetBaseUrl()';
        var url = createBaseUrl(urlBase, '/updatechecker');
        $.ajax({
            type: "GET",
            url: url,
            dataType: "json",
            success: function (response) {
                if (response.updateAvailable) {
                    var status = createBaseUrl(urlBase, '/admin/status');
                    $('#updateAvailable').html("There is a new update available! Click <a style='color: white' href='"+status+"'>Here!</a>");
                    $('#updateAvailable').removeAttr("hidden");
                }
            },
            error: function (e) {
                console.log(e);
            }
        });

        $(document).on('scroll', function () {

            if ($(window).scrollTop() > 100) {
                $('.scroll-top-wrapper').addClass('show');
            } else {
                $('.scroll-top-wrapper').removeClass('show');
            }
        });

        $('.scroll-top-wrapper').on('click', scrollToTop);
    });

    function scrollToTop() {
        verticalOffset = typeof (verticalOffset) != 'undefined' ? verticalOffset : 0;
        element = $('body');
        offset = element.offset();
        offsetTop = offset.top;
        $('html, body').animate({ scrollTop: offsetTop }, 500, 'linear');
    }
</script>