@using Ombi.UI.Helpers
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Ombi.UI.Models.AboutAdminViewModel>
@Html.Partial("Shared/Partial/_Sidebar")
@Html.LoadAsset("/Content/helpers/bootbox.min.js", true)
<div id="lightbox" style="display:none"></div>
<div class="col-sm-8 col-sm-push-1">
    <fieldset>
        <legend>About</legend>
        <hr />
        <table class="table table-condensed">
            <tr>
                <td>
                    Application Version:
                </td>
                <td>
                    @Model.ApplicationVersion
                </td>
            </tr>

            <tr>
                <td>
                    OS:
                </td>
                <td>
                    @Model.Os
                </td>
            </tr>

            <tr>
                <td>
                    System Version:
                </td>
                <td>
                    @Model.SystemVersion
                </td>
            </tr>
            <tr>
                <td>
                    Branch:
                </td>
                <td>
                    @Model.Branch
                </td>
            </tr>
            <tr>
                <td>
                    Log Level:
                </td>
                <td>
                    @Model.LogLevel
                </td>
            </tr>
            <tr>
                <td>
                    Database Location:
                </td>
                <td>
                    @Model.DbLocation
                </td>
            </tr>
            <tr>
                <td>
                    Running Directory:
                </td>
                <td>
                    @Model.RunningDir
                </td>
            </tr>

        </table>
        <hr />
        <table class="table table-condensed">
            <tr>
                <td>
                    Github
                </td>
                <td>
                    <a href="https://github.com/tidusjar/Ombi" target="_blank">https://github.com/tidusjar/Ombi</a>
                </td>
            </tr>
            <tr>
                <td>
                    Forums
                </td>
                <td>
                    <a href="https://forums.ombi.io/" target="_blank">https://forums.ombi.io/</a>
                </td>
            </tr>
            <tr>
                <td>
                    Wiki
                </td>
                <td>
                    <a href="https://github.com/tidusjar/Ombi/wiki" target="_blank">https://github.com/tidusjar/Ombi/wiki</a>
                </td>
            </tr>
            <tr>
                <td>
                    Issues
                </td>
                <td>
                    <a href="https://github.com/tidusjar/Ombi/issues" target="_blank">https://github.com/tidusjar/Ombi/issues</a>
                </td>
            </tr>
            <tr>
                <td>
                    Chat
                </td>
                <td>
                    <a href="https://gitter.im/tidusjar/Ombi" target="_blank">https://gitter.im/tidusjar/Ombi</a>
                </td>
            </tr>
            <tr>
                <td>
                    Feature Requests
                </td>
                <td>
                    <a href="https://feathub.com/tidusjar/Ombi" target="_blank">https://feathub.com/tidusjar/Ombi</a>
                </td>
            </tr>
        </table>
        <hr />
        @if (Model.OAuthEnabled)
            {
            <div class="form-group">
                <div>
                    <button id="save" type="submit" class="btn btn-danger-outline">Report a bug</button>
                </div>
            </div>

        }
        else
        {
            <div class="form-group">
                <div>
                    <button id="oAuth" type="submit" class="btn btn-primary-outline">Log in via Github to Report an Issue</button>
                </div>
            </div>
        }
   

    </fieldset>
</div>

<script>

    var issueTitle = "";

    var baseUrl = '@Html.GetBaseUrl()';

    $('#save').click(function () {
        startBug();
    });

    $('#oAuth').click(function () {
        var url = "/admin/oauth";
        url = createBaseUrl(baseUrl, url);
        $.ajax({
            type: "get",
            url: url,
            dataType: "json",
            success: function (response) {
                window.location.href = response.uri;
            },
            error: function (e) {
                console.log(e);
                generateNotify("Something went wrong!", "danger");
            }
        });
    });

    function startBug() {
        bootbox.prompt({
            size: "small",
            title: "What is the title of the issue?",
            inputType: 'textarea',
            callback: mainContent
        });
    }


    function mainContent(userTitle) {
        if (!userTitle) {
            generateNotify("Please provide a valid title", "danger");
            return startBug();
        }
        issueTitle = userTitle;
        bootbox.prompt({
            title: "Please provide details of the issue including any logs and reproduction steps",
            inputType: 'textarea',
            callback: reportBug
        });


    }

    function reportBug(additionalInfo) {

        if (!additionalInfo) {
            generateNotify("Please provide some information", "danger");
            return mainContent();
        }


        var url = "/admin/about";
        url = createBaseUrl(baseUrl, url);
        $.ajax({
            type: "post",
            url: url,
            data: { title: issueTitle, body: additionalInfo },
            dataType: "json",
            success: function (response) {
                if (response && response.result) {
                    generateNotify("Issue Reported, see here: " + response.url);
                } else {
                    if (response.message) {
                        generateNotify(response.message, "danger");
                    }
                }
            },
            error: function (e) {
                console.log(e);
                generateNotify("Something went wrong!", "danger");
            }
        });
    }
</script>