@using PlexRequests.UI.Helpers
<div class="col-lg-3 col-md-3 col-sm-4">
    <div class="list-group table-of-contents">
        @Html.GetSidebarUrl(Context, "/admin", "Plex Request")
        @Html.GetSidebarUrl(Context, "/admin/landingpage", "Landing Page")
        @Html.GetSidebarUrl(Context, "/admin/authentication", "Authentication")
        @Html.GetSidebarUrl(Context, "/admin/plex", "Plex")
        @Html.GetSidebarUrl(Context, "/admin/couchpotato", "CouchPotato")
        @Html.GetSidebarUrl(Context, "/admin/sonarr", "Sonarr")
        @Html.GetSidebarUrl(Context, "/admin/sickrage", "SickRage")
        @Html.GetSidebarUrl(Context, "/admin/headphones", "Headphones (Beta)")
        @Html.GetSidebarUrl(Context, "/admin/emailnotification", "Email Notifications")
        @Html.GetSidebarUrl(Context, "/admin/pushbulletnotification", "Pushbullet Notifications")
        @Html.GetSidebarUrl(Context, "/admin/pushovernotification", "Pushover Notifications")
        @Html.GetSidebarUrl(Context, "/admin/slacknotification", "Slack Notifications")
        @Html.GetSidebarUrl(Context, "/admin/logs", "Logs")
        @Html.GetSidebarUrl(Context, "/admin/status", "Status")
        @Html.GetSidebarUrl(Context, "/admin/scheduledjobs", "Scheduled Jobs")
    </div>
</div>