@using PlexRequests.UI.Helpers
@Html.Partial("_Sidebar")

@{
    var baseUrl = Html.GetBaseUrl();
    var formAction = "/admin/authentication";
    if (!string.IsNullOrEmpty(baseUrl.ToHtmlString()))
    {
        formAction = "/" + baseUrl.ToHtmlString() + formAction;
    }
}
<div class="col-sm-8 col-sm-push-1">
    <form class="form-horizontal" method="POST" action="@formAction" id="mainForm">
        <fieldset>
            <legend>Authentication Settings</legend>

            <div class="form-group">
                <div class="checkbox">
             
                        @if (Model.UserAuthentication)
                        {
                            <input type="checkbox" id="userAuth" name="UserAuthentication" checked="checked">
                            <label for="userAuth">Enable User Authentication</label>
                        }
                        else
                        {
                            <input type="checkbox" id="userAuth" name="UserAuthentication">
                            <label for="userAuth">Enable User Authentication</label>
                        }
          
                </div>
            </div>

            <div class="form-group">
                <div class="checkbox">
       
                        @if (Model.UsePassword)
                        {
                            <input type="checkbox" id="UsePassword" name="UsePassword" checked="checked">
                            <label for="UsePassword">Require users to login with their passwords</label>
                        }
                        else
                        {
                            <input type="checkbox" id="UsePassword" name="UsePassword">
                            <label for="UsePassword">Require users to login with their passwords</label>
                        }
            
                </div>
            </div>

            <div class="form-group">
                <label for="authToken" class="control-label">Plex Authorization Token</label>
                <div class="">
                    <input type="text" class="form-control-custom form-control" id="authToken" name="PlexAuthToken" placeholder="Plex Auth Token" value="@Model.PlexAuthToken">
                </div>
            </div>

            <div class="form-group">
                <label for="username" class="control-label">Username and Password</label>
                <div>
                    <input type="text" class="form-control form-control-custom" id="username" name="Username" placeholder="Username">
                </div>
                <br/>
                <div>
                    <input type="password" class="form-control form-control-custom" id="password" name="Password" placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <button id="requestToken" class="btn btn-primary-outline">Request Token <i class="fa fa-key"></i></button>
                </div>
            </div>


            <br />
            <br />
            <p class="form-group">Current users that are allowed to authenticate: </p>

            <div class="form-group">
                <select id="users" multiple="" class="form-control-custom "></select>
            </div>
            <div class="form-group">

                <div>
                    <button id="refreshUsers" class="btn btn-primary-outline">Refresh Users</button>
                </div>
            </div>

            <p class="form-group">A comma separated list of users that you do not want to login.</p>
            <div class="form-group">
                <label for="deniedUsers" class="control-label">Denied Users</label>
                <div >
                    <input type="text" class="form-control-custom form-control " id="DeniedUsers" name="DeniedUsers" placeholder="e.g. John, Bobby" value="@Model.DeniedUsers">
                </div>
            </div>
            <br/>
            <div>
            </div>
            <div class="form-group">
                <div>
                    <button type="submit" class="btn btn-primary-outline">Submit</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>


<script>
    $(function () {

        var base = '@Html.GetBaseUrl()';

        if ($('#PlexAuthToken')) {
            loadUserList();
        }

        $('#refreshUsers').click(function (e) {
            e.preventDefault();
            loadUserList();
        });

        $('#requestToken').click(function (e) {
            e.preventDefault();
            var url = createBaseUrl(base, "requestauth");
            var $form = $("#mainForm");
            $.ajax({
                type: $form.prop("method"),
                url: url,
                data: $form.serialize(),
                dataType: "json",
                success: function (response) {
                    console.log(response);
                    if (response.result === true) {
                        generateNotify("Success!", "success");
                        $('#authToken').val(response.authToken);
                    } else {
                        generateNotify(response.message, "warning");
                    }
                },
                error: function (e) {
                    console.log(e);
                    generateNotify("Something went wrong!", "danger");
                }
            });
        });



        function loadUserList() {
            $('#users').html("");
            var url = "getusers";
            url = createBaseUrl(base, url);
            $.ajax({
                type: "Get",
                url: url,
                dataType: "json",
                success: function (response) {

                $('#users').html("");
                if(!response.result){
                	generateNotify(response.message,"danger");
                    $('#users').append("<option>Error!</option>");
                	return;
                }
                    if (response.users.length > 1) {
                        $(response).each(function () {
                            $('#users').append("<option>" + this + "</option>");
                        });
                    } else {
                        $('#users').append("<option>No Users, Please refresh!</option>");
                    }
                },
                error: function (e) {
                    console.log(e);
                    generateNotify("Something went wrong!", "danger");
                    $('#users').html("");
                    $('#users').append("<option>Error!</option>");
                }
            });

        }


    });
</script>