@using PlexRequests.UI.Helpers
@Html.Partial("_Sidebar")
@{
    int port;
    if (Model.Port == 0)
    {
        port = 3579;
    }
    else
    {
        port = Model.Port;
    }


    var baseUrl = Html.GetBaseUrl();
    var formAction = "/admin";
    if (!string.IsNullOrEmpty(baseUrl.ToHtmlString()))
    {
        formAction = "/" + baseUrl.ToHtmlString() + formAction;
    }

}
<div class="col-sm-8 col-sm-push-1">
    <form class="form-horizontal" method="POST" id="mainForm">
        <fieldset>
            <legend>Request Plex Settings</legend>
            <div class="form-group">
                <label for="portNumber" class="control-label">Port</label>

                <div>
                    <input type="text" class="form-control form-control-custom " id="portNumber" name="Port" placeholder="Port Number" value="@port">
                </div>
            </div>
            <small class="control-label">You will have to restart after changing the port.</small>

            <div class="form-group">
                <label for="BaseUrl" class="control-label">Base Url</label>

                <div>
                    <input type="text" class="form-control form-control-custom " id="BaseUrl" name="BaseUrl" placeholder="Base Url" value="@Model.BaseUrl">
                </div>
            </div>
            <small class="control-label">You will have to restart after changing the url base.</small>

            <div class="form-group">
                <div class="checkbox">
                    <label>
                        @if (Model.SearchForMovies)
                        {
                            <input type="checkbox" id="SearchForMovies" name="SearchForMovies" checked="checked"><text>Search for Movies</text>
                        }
                        else
                        {
                            <input type="checkbox" id="SearchForMovies" name="SearchForMovies"><text>Search for Movies</text>
                        }
                    </label>
                </div>
            </div>

            <div class="form-group">
                <div class="checkbox">
                    <label>
                        @if (Model.SearchForTvShows)
                        {
                            <input type="checkbox" id="SearchForTvShows" name="SearchForTvShows" checked="checked"><text>Search for TV Shows</text>
                        }
                        else
                        {
                            <input type="checkbox" id="SearchForTvShows" name="SearchForTvShows"><text>Search for TV Shows</text>
                        }
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        @if (Model.SearchForMusic)
                        {
                            <input type="checkbox" id="SearchForMusic" name="SearchForMusic" checked="checked"><text>Search for Music</text>
                        }
                        else
                        {
                            <input type="checkbox" id="SearchForMusic" name="SearchForMusic"><text>Search for Music</text>
                        }
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        @if (Model.RequireMovieApproval)
                        {
                            <input type="checkbox" id="RequireMovieApproval" name="RequireMovieApproval" checked="checked"><text>Require approval of Movie requests</text>
                        }
                        else
                        {
                            <input type="checkbox" id="RequireMovieApproval" name="RequireMovieApproval"><text>Require approval of Movie requests</text>
                        }
                    </label>

                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        @if (Model.RequireTvShowApproval)
                        {
                            <input type="checkbox" id="RequireTvShowApproval" name="RequireTvShowApproval" checked="checked"><text>Require approval of TV show requests</text>
                        }
                        else
                        {
                            <input type="checkbox" id="RequireTvShowApproval" name="RequireTvShowApproval"><text>Require approval of TV show requests</text>
                        }
                    </label>

                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        @if (Model.RequireMusicApproval)
                        {
                            <input type="checkbox" id="RequireMusicApproval" name="RequireMusicApproval" checked="checked"><text>Require approval of Music requests</text>
                        }
                        else
                        {
                            <input type="checkbox" id="RequireMusicApproval" name="RequireMusicApproval"><text>Require approval of Music requests</text>
                        }
                    </label>

                </div>
            </div>

            <p class="form-group">A comma separated list of users whose requests do not require approval.</p>
            <div class="form-group">
                <label for="noApprovalUsers" class="control-label">Users</label>
                <div>
                    <input type="text" class="form-control-custom form-control " id="NoApprovalUsers" name="NoApprovalUsers" placeholder="e.g. John, Bobby" value="@Model.NoApprovalUsers">
                </div>
            </div>

            <div class="form-group">
                <div class="checkbox">
                    <label>
                        @if (Model.UsersCanViewOnlyOwnRequests)
                        {
                            <input type="checkbox" id="UsersCanViewOnlyOwnRequests" name="UsersCanViewOnlyOwnRequests" checked="checked"><text>Users can view their own requests only</text>
                        }
                        else
                        {
                            <input type="checkbox" id="UsersCanViewOnlyOwnRequests" name="UsersCanViewOnlyOwnRequests"><text>Users can view their own requests only</text>
                        }
                    </label>

                </div>
            </div>

            @*<div class="form-group">
                    <label for="WeeklyRequestLimit" class="control-label">Weekly Request Limit</label>
                    <div>
                        <label>
                            <input type="number" id="WeeklyRequestLimit" name="WeeklyRequestLimit" class="form-control form-control-custom " value="@Model.WeeklyRequestLimit">
                        </label>
                    </div>
                </div> //TODO: Need to implement this*@

            <div>
            </div>
            <div class="form-group">
                <div>
                    <button type="submit" id="save" class="btn btn-primary-outline">Submit</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>

<script>
$(function() {
 $('#save').click(function (e) {
            e.preventDefault();

            var $form = $("#mainForm");

            var data = $form.serialize();

            $.ajax({
                type: $form.prop("method"),
                data: data,
                url: $form.prop("action"),
                dataType: "json",
                success: function (response) {
                    if (response.result === true) {
                        generateNotify("Success!", "success");
                    } else {
                        generateNotify(response.message, "warning");
                    }
                },
                error: function (e) {
                    console.log(e);
                    generateNotify("Something went wrong!", "danger");
                }
            });
        });
});
</script>