@using PlexRequests.UI.Helpers
@Html.Partial("_Sidebar")
@{
    int port;
    if (Model.Port == 0)
    {
        port = 8081;
    }
    else
    {
        port = Model.Port;
    }
}
<div class="col-sm-8 col-sm-push-1">
    <form class="form-horizontal" method="POST" id="mainForm">
        <fieldset>
            <legend>SickRage Settings</legend>
            <div class="form-group">
                <div class="checkbox">
                        @if (Model.Enabled)
                        {
                            <input type="checkbox" id="Enabled" name="Enabled" checked="checked"><label for="Enabled">Enabled</label>
                        }
                        else
                        {
                            <input type="checkbox" id="Enabled" name="Enabled"><label for="Enabled">Enabled</label>
                        }
                </div>
            </div>
            <div class="form-group">
                <label for="Ip" class="control-label">SickRage Hostname or IP</label>
                <div class="">
                    <input type="text" class="form-control form-control-custom " id="Ip" name="Ip" placeholder="localhost" value="@Model.Ip">
                </div>
            </div>

            <div class="form-group">
                <label for="portNumber" class="control-label">Port</label>

                <div class="">
                    <input type="text" class="form-control form-control-custom " id="portNumber" name="Port" placeholder="Port Number" value="@port">
                </div>
            </div>


            <div class="form-group">
                <label for="ApiKey" class="control-label">SickRage API Key</label>
                <div>
                    <input type="text" class="form-control form-control-custom " id="ApiKey" name="ApiKey" value="@Model.ApiKey">
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
               
                        @if (Model.Ssl)
                        {
                            <input type="checkbox" id="Ssl" name="Ssl" checked="checked"><label for="Ssl">SSL</label>
                        }
                        else
                        {
                            <input type="checkbox" id="Ssl" name="Ssl"><label for="Ssl">SSL</label>
                        }
                </div>
            </div>

            <div class="form-group">
                <label for="SubDir" class="control-label">SickRage Base Url</label>
                <div>
                    <input type="text" class="form-control form-control-custom " id="SubDir" name="SubDir" value="@Model.SubDir">
                </div>
            </div>
            <div class="form-group">
                <label for="profiles" class="control-label ">Quality Profiles</label>
                <div id="profiles">
                    <select class="form-control form-control-custom" value="selected">
                        @foreach (var quality in Model.Qualities)
                        {
                            <option id="@quality.Key" value="@quality.Key">@quality.Value</option>
                        }
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div>
                    <button id="testSickRage" type="submit" class="btn btn-primary-outline">Test Connectivity <div id="spinner"></div></button>
                </div>
            </div>


            <div class="form-group">
                <div>
                    <button id="save" type="submit" class="btn btn-primary-outline ">Submit</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>



<script>
    $(function() {
        var base = '@Html.GetBaseUrl()';
        @if (!string.IsNullOrEmpty(Model.QualityProfile))
        {
    <text>
        var qualitySelected = '@Model.QualityProfile';
        $('#' + qualitySelected).prop("selected", "selected");
        </text>
        }

        $('#save').click(function (e) {
            e.preventDefault();
            var port = $('#portNumber').val();
            if (isNaN(port)) {
                generateNotify("You must specify a Port.", "warning");
                return;
            }
            var qualityProfile = $("#profiles option:selected").val();

            var $form = $("#mainForm");

            var data = $form.serialize();
            data = data + "&qualityProfile=" + qualityProfile;

            $.ajax({
                type: $form.prop("method"),
                data: data,
                url: $form.prop("action"),
                dataType: "json",
                success: function (response) {
                    if (response.result === true) {
                        generateNotify("Success!", "success");
                    } else {
                        generateNotify(response.message, "warning");
                    }
                },
                error: function (e) {
                    console.log(e);
                    generateNotify("Something went wrong!", "danger");
                }
            });
        });

        $('#testSickRage').click(function (e) {

            $('#spinner').attr("class", "fa fa-spinner fa-spin");
            e.preventDefault();
            var qualityProfile = $("#profiles option:selected").val();

            var $form = $("#mainForm");

            var data = $form.serialize();
            data = data + "&qualityProfile=" + qualityProfile;

            var url = createBaseUrl(base, '/test/sickrage');
            $.ajax({
                type: $form.prop("method"),
                url: url,
                data: data,
                dataType: "json",
                success: function (response) {
                    console.log(response);
                    if (response.result === true) {
                        generateNotify(response.message, "success");
        				$('#spinner').attr("class", "fa fa-check");
                    } else {
                        generateNotify(response.message, "warning");
        				$('#spinner').attr("class", "fa fa-times");
                    }
                },
                error: function (e) {
                    console.log(e);
                    generateNotify("Something went wrong!", "danger");
        				$('#spinner').attr("class", "fa fa-times");
                }
            });
        });



    })
</script>