@using PlexRequests.UI.Helpers
@using PlexRequests.UI.Resources
<div class="home">
    <h1>@UI.UserLogin_Title</h1>
    <div>
        <p>
            @UI.UserLogin_Paragraph <span title="@UI.UserLogin_Paragraph_SpanHover"><i class="fa fa-question-circle"></i></span>
        </p>
    </div>
    <form method="POST" id="loginForm">
        <div>
            <div>
                <label>@UI.UserLogin_Username</label>
            </div>
            <div>
                <input class="form-control form-control-custom" type="text" name="Username" placeholder="@UI.UserLogin_Username_Placeholder" />
            </div>
        </div>
        <br />
        @if (Model.UsePassword)
        {
            <div>
                <div>
                    <label> @UI.UserLogin_Password </label>
                </div>
                <div>
                    <input class="form-control form-control-custom" name="Password" type="password" placeholder="@UI.UserLogin_Password"/>
                </div>
            </div>
            <br />
        }

        <button id="loginBtn" class="btn btn-success-outline" type="submit"><i class="fa fa-user fa-fw"></i> @UI.UserLogin_SignIn</button>
    </form>
</div>

<script>
    $(function () {
        var base = '@Html.GetBaseUrl()';
        $('#loginBtn').click(function (e) {
            e.preventDefault();
            var $form = $("#loginForm");
            var formData = $form.serialize();
            var dtOffset = new Date().getTimezoneOffset();
            formData += ('&DateTimeOffset=' + dtOffset);

            var url = createBaseUrl(base, '/search');
            $.ajax({
                type: $form.prop("method"),
                url: $form.prop("action"),
                data: formData,
                dataType: "json",
                success: function (response) {
                    console.log(response);
                    if (response.result === true) {

                        location.replace(response.message);
             
                    } else {
                        generateNotify(response.message, "warning");
                    }
                },
                error: function (e) {
                    console.log(e);
                    generateNotify("@UI.Javascript_SomethingWentWrong", "danger");
                }
            });
        });
    });
</script>